<div class="col-md-2 pull-right" ng-show="footer">
<img src="images/castle_gun.png" alt="image description" height="95" width="154"/>
</div>


<footer class="col-md-12 footer-bs">
  
        <div class="row">
		
        	<div class="col-md-4 footer-brand animated fadeInLeft">
            	<h1 class="lead">Castle Ind Technologies</h1>
            </div>
        	<div class="col-md-6 footer-nav animated fadeInUp">
            	<h4>Our Services  &#8210;</h4>
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">Cloud Telephony</a></li>
                        <li><a href="#"> &#8210; Broadcast</a></li>
                        <li><a href="#"> &#8210; Click to Call</a></li>
                        <li><a href="#"> &#8210; Call Center</a></li>
                        <li><a href="#"> &#8210; Virtual Number</a></li>
                        <li><a href="#">Compulsary Registrations</a></li>
                        <li><a href="#">Event Management</a></li>
                    </ul>
                </div>
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#" ng-click="showAboutUsDetails()">About Us</a></li>
                        <li><a href="#" ng-click="showContactUs()">Contact Us</a></li>
                        <li><a href="#">Terms and Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                	<li><a href="#">RSS</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 text-center">
        <p>Content Copyright - 2017 Castle Ind Technologies</p>
        </div>
    </footer>